:root{
    --main-color:#6C48C5;
}


.backgroundbody {
    background-image: url('../image/darify.jpg');
    background-size: cover; /* Ensures the image covers the entire area */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; 
    width: 100%;
}


.header-style {
    /* color: wheat; */
    /* font-family: Poppins, PoppinsInitial, sans-serif; */
    /* box-shadow: 0 4px 7px rgba(49, 105, 245, 0.4); */
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
    box-shadow: 3px 3px 5px #aaa, 
              6px 6px 10px #888, 
              9px 9px 15px #666;
    transition: box-shadow 0.3s ease;
    padding: 12px;
    color: #c6c6c6;
    font-weight: bolder;
    span{
        background: linear-gradient(to right, #C68FE6, var(--main-color));
        -webkit-background-clip: text;
        color: transparent;
    }
}

.header-style:hover {
    box-shadow: 
                6px 6px 10px #aaa, 
                12px 12px 20px #888, 
                18px 18px 30px #666;
}


.fontstyle{
    font-family: fangsong;
}